{{ define "list" }}
<ul class="post-list">
	{{ range .Pages }}
	<li class="post-list">
		{{ if and (isset .Params "updated") (gt ((.Params.updated | time).Unix) (.Date.Unix))}}
		<div class="post-date">
			{{ (.Params.updated | time).Format "02 January, 2006" }}
		</div>
		{{else }}
		<div>
			{{ .Date.Format "02 January, 2006" }}
		</div>
		{{ end }}
		<h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
		{{ if isset .Params "excerpt" }}
			{{ .Params.excerpt }}
		{{ end }}
		
		{{ if isset .Params "tags" }}
		<div class="post-tags-list">
			{{ range .Params.tags }}
				<code class="post-tag">{{ . }}</code>
			{{ end }}
		</div>
		{{ end }}
	</li>
	{{ end }}
</ul>
{{ end }}
