{{ define "sidebar" }}
{{ partial "sidebar.html" .}}
{{ end }}

{{ define "main" }}

<div class="wrapper">

	{{ block "title" . }}
	<h1 class="page-title">{{ .Title }}</h1>
	{{ end }}

	{{ block "details" . }}
	<div class="page-details-inline">
		{{ if isset .Params "tags" }}
			<div class="page-tags">
				{{ range .Params.tags }}
					<code class="page-tag">{{ . }}</code>
				{{ end }}
			</div>
		{{ end }}
		<div class="page-date">
			<span>
				Published {{ .Date.Format "2006, Jan 02" }}
			</span>

			{{ if and (isset .Params "updated") (gt ((.Params.updated | time).Unix) (.Date.Unix))}}
			|
			<span>
				Updated {{ (.Params.updated | time).Format "2006, Jan 02" }}
			</span>
			{{ end }}
		</div>
	</div>

	{{ if (false) }}
	<div class="page-toc-inline">
		<b>Contents</b>
		<ul>
			<li><a href="#">{{ .Title }}</a></li>
		</ul>
		{{ partial "toc.html" . }}
	</div>
	{{ end }}

	{{ end }}

	{{ block "content" . }}
	<main>
		{{ .Content }}

		{{ block "list" . }}{{ end }}
	</main>
	{{ end }}
</div>

{{ partial "navbar-bottom.html" . }}

{{ end }}
