{{ define "sidebar" }}
<div class="post-details">
	<div class="post-toc">
		<b>Contents</b>
		<ul>
			<li><a href="#">{{ .Title }}</a></li>
		</ul>
		{{ partial "toc.html" . }}
	</div>
</div>
{{ end }}


{{ define "main" }}
<div class="wrapper">
	
	{{ block "title" . }}
	<h1 class="page-title">{{ .Title }}</h1>
	{{ end }}

	{{ block "details" . }}
	<div class="post-details-inline">
		<div class="navbar-date-author">
			<span>
				Published {{ .Date.Format "02 Jan 2006" }}
			</span>

			{{ if and (isset .Params "updated") (gt ((.Params.updated | time).Unix) (.Date.Unix))}}
			<span>
				, Updated {{ (.Params.updated | time).Format "02 Jan 2006" }}
			</span>
			{{ end }}
		</div>
		{{ if isset .Params "tags" }}
			<div>
				{{ range .Params.tags }}
					<code class="page-tag">{{ . }}</code>
				{{ end }}
			</div>
		{{ end }}
	</div>

	{{ if (false) }}
	<div class="post-toc-inline">
		<b>Contents</b>
		<ul>
			<li><a href="#">{{ .Title }}</a></li>
		</ul>
		{{ partial "toc.html" . }}
	</div>
	{{ end }}

	{{ end }}

	{{ block "content" . }}
	<main>
		{{ .Content }}

		{{ block "list" . }}{{ end }}
	</main>
	{{ end }}
</div>
{{ end }}

{{ define "bottom" }}
<div class="wrapper-bottom">
	<nav class="navbar-bottom">
	</nav>
</div>
{{ end }}