.light {
  /*
  Styling for wrappers around top, body and bottom
  */

  .wrapper {
    max-width: MIN($content-width, $content-max-width);
    min-height: 100vh;
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: calc(50vw - #{MIN($content-width, $content-max-width)} / 2 - 3vw);
    margin-bottom: 1em;
    background-color: $bg-0;

    @media only screen and (max-width: $screen-width-inflection) {
      margin-left: auto;
    }
  }

  .wrapper-top {
    padding: 0.2em 0;
    border-bottom: 1px $bg-1 solid;
    padding-bottom: 0.2em;

    position: fixed;
    width: 100%;
    background-color: $bg-0;
    top: 0;
    z-index: 1;

    @media only screen and (max-width: $screen-width-inflection) {
      position: static;
    }

    font-family: $navbar-font-family;
    font-size: $base-font-size * 1.3;

    a {
      text-decoration: none;
      color: $grey-text;
    }

    a:hover {
      color: darken($grey-text, 20%);
    }
  }

  h1, h2, h3,
  h4, h5, h6 {
    scroll-margin-top: 3rem;
    @media only screen and (max-width: $screen-width-inflection) {
      scroll-margin-top: 0;
    }
  }

  .wrapper-bottom {
    max-width: MIN($content-width, $content-max-width);
    padding: 0 3vw;
    border-top: 1px $bg-1 solid;
    padding-bottom: 0.1em;
  }

  .wrapper-home {
    max-width: MIN($content-width, $content-max-width);
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    background-color: $bg-0;
  }

  .wrapper-gallery {
    max-width: MIN($gallery-width, $content-max-width);
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    background-color: $bg-0;
  }

  /*
  Styling for the page
  */

  .page-date {
    color: $grey-text;
  }

  .page-tag {
    font-size: $tag-font-size;
    color: $code-tag;
    background-color: $bg-tag;
    border: 1px darken($bg-tag, 10%) solid;
  }

  .page-title {
    a { color: $base-text; }
    a:hover { color: $base-text; }
    a:visited { color: $base-text; }
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    font-size: 2.3em;
    font-weight: $title-font-weight;
    border-bottom: 1px solid $bg-1;

    @media only screen and (max-width: $screen-width-inflection) {
      margin-top: 0.5em;
      margin-bottom: 0.25em;
    }
  }

  .page-tip-right {
    display: block;
    float: right;
    margin-right: -13em;
    width: 12em;

    @media only screen and (max-width: $screen-width-tips) {
      display: none;
    }
  }

  /*
  Styling for post list
  */

  .post-list {
    margin-top: 2em;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 2.5em;

    .post-date {
      color: $grey-text;
      user-select: none;
    }

    .post-title {
      a {
        color: $link-2;
      }
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: -0.5px;
      border-bottom: none;
      font-weight: 600;
    }

    .post-tag {
      font-size: $tag-font-size;
      color: $code-tag;
      background-color: $bg-tag;
      border: 1px darken($bg-tag, 10%) solid;
    }
  }

  .post-tags-list {
    user-select: none;
  }

  /*
  Styling for tag page
  */

  .tag-list {
    margin-bottom: 1em;
  }

  /*
  Styling for navbars
  */

  .navbar-top {
    user-select: none;

    display: flex;
    justify-content: center;

    @media screen and (max-width: $screen-width-mobile) {
      overflow-x: auto;
      justify-content: left;
      padding-left: 3vw;;
      padding-right: 3vw;
    }

    .navbar-item {
      margin-right: 1em;
    }
  }

  .navbar-bottom {
    color: $grey-text;
    font-size: $small-font-size;
    user-select: none;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $screen-width-mobile) {
      overflow-x: auto;
      justify-content: left;
      padding-left: 3vw;;
      padding-right: 3vw;
    }

    .navbar-item {
      margin-right: 1em;
    }
  }

  .navbar-home {
    margin-top: -1em;
    user-select: none;

    .category-list {
      margin-right: 1em;
    }

    .navbar-right {
      float: right;
    }
  }

  /*
  Styling for details sidebar
  */

  .post-details {
    user-select: none;
    font-size: $sidebar-font-size;
    position: fixed;
    left: 0;

    width: $sidebar-width;
    margin-top: 4em;
    margin-left: calc(50vw - #{$sidebar-width} - #{MIN($content-width, $content-max-width)} / 2 - 3vw);

    a {
      color: $grey-text;
    }

    b {
      font-size: $base-font-size;
      display: flex;
      justify-content: center;
    }

    @media only screen and (max-width: $screen-width-inflection) {
      display: none;
    }

    ul {
      margin-left: 0;
      padding-left: 1em;
    }

    .post-details-inner {
      border: 1px solid $bg-1;
      border-radius: 0.5em;
      padding: 1em 1em 1em 1.5em;
    }

    .post-toc {
      margin-top: 2em;
      border: 1px solid $bg-1;
      border-radius: 0.5em;
      padding: 1em 1em 1em 1.5em;
  
      max-height: calc(100vh - 3em - 2em - 4em - 4em - 7em);
      overflow-y: auto;
    }
  }

  /*
  Styling for details inline
  */

  .post-details-inline {
    display: none;
    user-select: none;

    @media only screen and (max-width: $screen-width-inflection) {
      display: block;
      color: $grey-text;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 2em;

      .navbar-date-author {
        margin-bottom: 0.5em;
      }
    }
  }

  .post-toc-inline {
    display: none;
    user-select: none;

    @media only screen and (max-width: $screen-width-inflection) {
      display: block;
      border: 1px solid $bg-1;
      border-radius: 0.5em;
      padding: 1em 1em;
      margin-bottom: 2em;
      max-width: MIN($content-width, $content-max-width);
      width: $sidebar-width;

      a {
        color: $grey-text;
      }

      b {
        font-size: $base-font-size;
        display: flex;
        justify-content: center;
      }

      ul {
        margin-left: 0;
        padding-left: 1em;
      }
    }
  }

  /*
  Styling for katex
  */

  .katex-html {
    font-size: $katex-font-size;
  }
}

.dark {
  /*
  Styling for wrappers around top, body and bottom
  */

  .wrapper {
    max-width: MIN($content-width-dark, $content-max-width-dark);
    min-height: 100vh;
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: calc(50vw - #{MIN($content-width-dark, $content-max-width-dark)} / 2 - 3vw);
    margin-bottom: 1em;
    background-color: $bg-0-dark;

    @media only screen and (max-width: $screen-width-inflection-dark) {
      margin-left: auto;
    }
  }

  .wrapper-top {
    padding: 0.2em 0;
    border-bottom: 1px lighten($bg-highlight-dark, 10%) solid;
    padding-bottom: 0.2em;

    font-family: $navbar-font-family-dark;
    font-size: $base-font-size-dark * 1.3;

    position: fixed;
    width: 100%;
    background-color: $bg-highlight-dark;
    top: 0;
    z-index: 1;

    @media only screen and (max-width: $screen-width-inflection-dark) {
      position: static;
    }

    a {
      text-decoration: none;
      color: $grey-text-dark;
    }

    a:hover {
      color: lighten($grey-text-dark, 10%);
    }
  }

  h1, h2, h3,
  h4, h5, h6 {
    scroll-margin-top: 3rem;
    @media only screen and (max-width: $screen-width-inflection-dark) {
      scroll-margin-top: 0;
    }
  }

  .wrapper-bottom {
    max-width: MIN($content-width, $content-max-width);
    padding: 0 3vw;
    border-top: 1px transparent solid;
    background: $bg-highlight-dark;
    padding-bottom: 0.1em;
  }

  .wrapper-home {
    max-width: MIN($content-width-dark, $content-max-width-dark);
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    background-color: $bg-0-dark;
  }

  .wrapper-gallery {
    max-width: MIN($gallery-width-dark, $content-max-width-dark);
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    background-color: $bg-0-dark;
  }

  /*
  Styling for the page
  */

  .page-date {
    color: $grey-text-dark;
  }

  .page-tag {
    font-size: $tag-font-size-dark;
    color: $code-tag-dark;
    background-color: $bg-tag-dark;
    border: 1px transparent solid;
  }

  .page-title {
    a { color: $base-text-dark; }
    a:hover { color: $base-text-dark; }
    a:visited { color: $base-text-dark; }
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    font-size: 2.3em;
    font-weight: $title-font-weight-dark;
    border-bottom: 1px solid $bg-1-dark;

    @media only screen and (max-width: $screen-width-inflection-dark) {
      margin-top: 0.5em;
      margin-bottom: 0.25em;
    }
  }

  .page-tip-right {
    display: block;
    float: right;
    margin-right: -13em;
    width: 12em;

    @media only screen and (max-width: $screen-width-tips-dark) {
      display: none;
    }
  }

  /*
  Styling for post list
  */

  .post-list {
    margin-top: 2em;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 2.5em;

    .post-date {
      color: $grey-text;
      user-select: none;
    }
  
    .post-title {
      a {
        color: $link-2-dark;
      }
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: -0.5px;
      border-bottom: none;
      font-weight: 600;
    }
  
    .post-tag {
      font-size: $tag-font-size-dark;
      color: $code-tag-dark;
      background-color: $bg-tag-dark;
      border: 1px transparent solid;
    }

    .post-tags-list {
      user-select: none;
    }
  }

  /*
  Styling for tag page
  */

  .tag-list {
    margin-bottom: 1em;
  }

  /*
  Styling for navbars
  */

  .navbar-top {
    user-select: none;

    display: flex;
    justify-content: center;

    @media screen and (max-width: $screen-width-mobile-dark) {
      overflow-x: auto;
      justify-content: left;
      padding-left: 3vw;;
      padding-right: 3vw;
    }

    .navbar-item {
      margin-right: 1em;
    }
  }

  .navbar-bottom {
    color: $grey-text-dark;
    font-size: $small-font-size-dark;
    user-select: none;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $screen-width-mobile-dark) {
      overflow-x: auto;
      justify-content: left;
      padding-left: 3vw;;
      padding-right: 3vw;
    }

    .navbar-item {
      margin-right: 1em;
    }
  }

  .navbar-home {
    margin-top: -1em;
    user-select: none;

    .category-list {
      margin-right: 1em;
    }

    .navbar-right {
      float: right;
    }
  }

  /*
  Styling for details sidebar
  */

  .post-details {
    user-select: none;
    font-size: $sidebar-font-size-dark;
    position: fixed;
    left: 0;

    width: $sidebar-width-dark;
    margin-top: 4em;
    margin-left: calc(50vw - #{$sidebar-width-dark} - #{MIN($content-width-dark, $content-max-width-dark)} / 2 - 3vw);

    a {
      color: $grey-text-dark;
    }

    b {
      font-size: $base-font-size-dark;
      display: flex;
      justify-content: center;
    }

    @media only screen and (max-width: $screen-width-inflection-dark) {
      display: none;
    }

    ul {
      margin-left: 0;
      padding-left: 1em;
    }

    .post-details-inner {
      border: 1px transparent solid;
      border-radius: 0.5em;
      padding: 1em 1em 1em 1.5em;
      background-color: $bg-highlight-dark;
    }

    .post-toc {
      margin-top: 2em;
      border: 1px transparent solid;
      border-radius: 0.5em;
      padding: 1em 1em 1em 1.5em;
      background-color: $bg-highlight-dark;
  
      max-height: calc(100vh - 3em - 2em - 4em - 4em - 7em);
      overflow-y: auto;
    }
  }

  /*
  Styling for details inline
  */

  .post-details-inline {
    display: none;
    user-select: none;

    @media only screen and (max-width: $screen-width-inflection-dark) {
      display: block;
      color: $grey-text-dark;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 2em;

      .navbar-date-author {
        margin-bottom: 0.5em;
      }
    }
  }

  .post-toc-inline {
    display: none;
    user-select: none;

    @media only screen and (max-width: $screen-width-inflection-dark) {
      display: block;
      border: 1px transparent solid;
      background-color: $bg-highlight-dark;
      border-radius: 0.5em;
      padding: 1em 1em;
      margin-bottom: 2em;
      max-width: MIN($content-width-dark, $content-max-width-dark);
      width: $sidebar-width-dark;

      a {
        color: $grey-text-dark;
      }

      b {
        font-size: $base-font-size;
        display: flex;
        justify-content: center;
      }

      ul {
        margin-left: 0;
        padding-left: 1em;
      }
    }
  }

  /*
  Styling for katex
  */

  .katex-html {
    font-size: $katex-font-size-dark;
  }
}

