@charset "utf-8";


@font-face {
  font-family: "ETBook";
  src:
    local('ETBookOT Roman'),
    url("/fonts/et-book-ligatures-enabled/et-book-roman-old-style-figures/etbookot-roman-webfont.woff2"),
    url("/fonts/et-book-ligatures-enabled/et-book-roman-old-style-figures/etbookot-roman-webfont.woff");
}

@font-face {
  font-family: "ETBook";
  src:
    local('ETBookOT Bold'),
    url("/fonts/et-book-ligatures-enabled/et-book-bold-line-figures/etbookot-bold-webfont.woff2"),
    url("/fonts/et-book-ligatures-enabled/et-book-bold-line-figures/etbookot-bold-webfont.woff");
  font-weight: bold;
}

@font-face {
  font-family: "ETBook";
  src:
    local('ETBookOT Italic'),
    url("/fonts/et-book-ligatures-enabled/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff2"),
    url("/fonts/et-book-ligatures-enabled/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff");
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu Mono";
  src:
    local('Ubuntu Mono Regular'),
    url("/fonts/Ubuntu_Mono/ubuntumono-regular-webfont.woff2"),
    url("/fonts/Ubuntu_Mono/ubuntumono-regular-webfont.woff");
}



//light theme

$base-font-family: 'ETBook';
$base-font-family-serif: 'ETBook';
$heading-font-family: 'ETBook';
$navbar-font-family: 'ETBook';

$base-font-size: 17px;
$base-line-height: 1.5;
$code-line-height: 1.4;
$base-letter-spacing: 0.02em;

$base-font-weight: 400;
$title-font-weight: 600;
$heading-font-weight: 600;
$code-font-weight: 400;

$small-font-size: $base-font-size * 0.8;
$code-font-family: "Ubuntu Mono";
$code-font-size: $base-font-size * 0.85;
$tag-font-size: $base-font-size * 0.75;
$sidebar-font-size: $base-font-size * 0.9;
$katex-font-size:  $base-font-size * 0.9;

$heading-text: #333;
$base-text: #333;
$grey-text: #888;
$link-1: #4270ab;
$link-2: #4270ab;

$code-1: #444;
$bg-code:#eee;
$code-tag: #444;
$bg-tag:#eee;

$bg-0:   #fff;
$bg-1:   #e6e6e6;
$bg-highlight:   #fffdef;

$bg-quote:   #eee;
$bg-table: #fffef6;
$bg-pre-border: #ddd;
$bg-sidebar: #f2f2f2;
$bg-sidebar-border: #ddd;

$button-1: #8638b0;
$button-1-bg: #eee;

$content-width: 750px;
$sidebar-width: 300px;
$gallery-width: 1000px;
$image-width: 550px;
$content-max-width: 95%;
$screen-width-inflection: 1500px;
$screen-width-mobile: 600px;
$screen-width-tips: 1366px;


// dark theme

$base-font-family-dark: "ETBook";
$base-font-family-serif-dark: "ETBook";
$heading-font-family-dark: "ETBook";
$navbar-font-family-dark: "ETBook";

$base-font-size-dark: 17px;
$base-line-height-dark: 1.5;
$code-line-height-dark: 1.4;
$base-letter-spacing-dark: 0.02em;

$base-font-weight-dark: 400;
$title-font-weight-dark: 600;
$heading-font-weight-dark: 600;
$code-font-weight-dark: 400;

$small-font-size-dark: $base-font-size * 0.8;
$code-font-family-dark: "Ubuntu Mono";
$code-font-size-dark: $base-font-size * 0.85;
$tag-font-size-dark: $base-font-size * 0.75;
$sidebar-font-size-dark: $base-font-size * 0.9;
$katex-font-size-dark:  $base-font-size * 0.9;

$heading-text-dark: #e0e0e0;
$base-text-dark: #e5e5e5;
$grey-text-dark: #888;
$link-1-dark: #87cfbe;
$link-2-dark: #87cfbe;

$code-1-dark: #ccc;
$bg-code-dark:#111;
$code-tag-dark: #ccc;
$bg-tag-dark:#111;

$bg-0-dark:   #1e1e1e;
$bg-1-dark:   #2c2c2c;
$bg-highlight-dark:   #111;

$bg-quote-dark:   #111;
$bg-table-dark: #111;
$bg-pre-border-dark: transparent;
$bg-sidebar-dark: #111;
$bg-sidebar-border-dark: #222;

$button-1-dark: #9371b8;
$button-1-bg-dark: #111;

$content-width-dark: 750px;
$sidebar-width-dark: 300px;
$gallery-width-dark: 1000px;
$image-width-dark: 550px;
$content-max-width-dark: 95%;
$screen-width-inflection-dark: 1500px;
$screen-width-mobile-dark: 600px;
$screen-width-tips-dark: 1366px;


@import
  "malis/base",
  "malis/layout",
  "malis/syntax-highlighting"
;
