<nav class="wrapper-top">
    <span class="navbar-top">
        <span class="navbar-item">
            <a href="/">Home</a>
        </span>
        <!-- <span class="navbar-item">
            <a href="/posts/">Posts</a>
        </span> -->
        <span class="navbar-item">
            <a href="/gallery/">Gallery</a>
        </span>
        <span class="navbar-item">
            <a href="https://github.com/Infinitifall/">Projects</a>
        </span>
        <span class="navbar-item">
            <a href="https://irc.infinitifall.net/">IRC</a>
        </span>
        <span class="theme-toggle">
            {{ partial "theme-toggle.html" . }}
        </span>
    </span>
</nav>